@import '../../assets/css/colors.css';

.TodoItem {
    width: 100%;
    border: 1px solid var(--secundary);
    border-radius: 10px;
    background-color: var(--secundary);
    padding: 15px;
    margin-bottom: 10px;
}

.TodoItem-checkbox__container {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    justify-content: start;
    gap: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TodoItem-checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;

}

.TodoItem-checkbox--pink {
    border-color: var(--pink);
}

.TodoItem-checkbox--blue {
    border-color: var(--primary);
}

.TodoItem-checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary);
    background-color: CanvasText;
}

.TodoItem-checkbox:checked::before {
    transform: scale(1);
}


.TodoItem .TodoItem-checkbox__container span {
    position: relative;
    display: block;
    transition: all 120ms ease-in-out;
    text-transform: capitalize;
    color: var(--white);
}

.TodoItem .TodoItem-checkbox:checked+span {
    color: var(--litter-dark-gray);
    transition: all 120ms ease-in-out;
}

.TodoItem .TodoItem-checkbox:checked+span::after {
    opacity: 0;
    height: 17px;
    width: 17px;
    top: -2px;
    right: -2px;
}

.TodoItem .TodoItem-checkbox:checked+span::before {
    opacity: 1;
    transition: all 120ms ease-in-out;
}