@import '../../assets/css/colors.css';

.TodoList {
    padding: 15px;
}

.TodoList--title {
    margin: 15px 0px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--litter-dark-gray); 
}

.TodoList--ul {
    margin-top: 5px;
    list-style: none;
}