:root{
    --primary: #344FA1;
    --secundary: #0a1554;
    --black: #010319;
    --dark-gray: #48466b;
    --gray: #bbc2d8;
    --pink: #d103fc;
    --white: #F7FDFF;
    --litter-dark-gray: #7d80aa;
}